:root {
  --default-font: 'Nunito', sans-serif;
  --default-color: #272142;
  --secondary-color: #662EED;
}

body {
  color: var(--default-color);
  font-family: var(--default-font);
}

h1 {
  font-size: 72px;
  line-height: 98px;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 64px;
  line-height: 87px;
  font-weight: 700;
}

h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
}

h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
}

h5 {
 font-size: 36px;
  line-height: 49px;
  font-weight: 700; 
}

h6 {
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
}

p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

a {
  color: var(--default-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

a:hover {
  color: var(--secondary-color);
}

i {
  margin: 0px 15px;
}

.navigation {
  margin: 20px auto;
  font-weight: 700;
}

.nav-link {
  color: var(--default-color);
  margin: 0px 10px;
}

#nav-link-active {
  color: var(--secondary-color);
}

footer {
  background: #F9F7FE;
  padding: 30px 0px;
}

.hero {
  background: linear-gradient(180deg, rgba(111, 77, 77, 0.5) 0%, rgba(0, 0, 0, 0.2) 100%), url(/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 40px 0px;
}

.about-page, .recipe-page, .contact-page {
  padding: 80px 30px;
}
.about-page-info {
  padding: 70px 0px;
}

.about-page-info h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 87px;
}

.about-page-follow-me p {
  font-weight: 700;
}



.about-page-recipe-section h5 {
  text-align: center;
  margin-bottom: 30px;
}

.about-page-recipe-section .img-fluid {
  width: 100%;
}

.about-page-recipe-section p {
  font-size: 16px;
}

.recipe-page {
  max-width: 760px;
}

.recipe-page h6 {
  border-bottom: 1px dashed #67D5D2;;
}

.ingredient p {
  border-bottom: 1px dashed #67D5D2;
}

.recipe-step {
  color: #F65282;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
}

.contact-option {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.contact-info span {
  margin-left: 30px;
}


@media (max-width:576px) {
  .navigation {
    margin: 10px auto;
  }

  h1 {
    font-size: 46px;
    line-height: 50px;
  }

  .hero h4 {
    font-size: 20px;
  }
  #recipe-gallery h3 {
    text-align: center;
    font-size: 22px;
  }

  .about-page, .about-page-recipe-section, .contact-page {
    text-align: center;
  }

  .about-page-info h2 {
    font-size: 44px;
  }

  footer {
    font-size: 12px;
  }

  footer i {
    margin: 0px 5px;
  }

}